@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: ImpactT;
  src: url(/fonts/ImpactT.ttf);
}
